.unimporant-hide {
  display: none;
}

.fa-circle {
  padding-left: 7px;
  padding-right: 3px;
  font-size: 7px;
  margin-top: -5px;
}

.ui-effects-wrapper {
  display:inline-block !important;
}

.tip {
  cursor:pointer;
}
