.unimporant-hide {
  display: none;
}

.fa-circle {
  padding-left: 7px;
  padding-right: 3px;
  font-size: 7px;
  margin-top: -5px;
}

.ui-effects-wrapper {
  display: inline-block !important;
}

.tip {
  cursor:pointer;
}

.territory-item {
  padding:10px;
}

input[type="search"] {
  width: 200px;
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 -webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: searchfield-cancel-button;
}
